@{
    ViewData["Title"] = "ChatBot";
}

<div id="body">
    <div id="chat-circle" class="">
        <img src="~/img/chat.png" />
    </div>


    <div class="chat-box">
        <div class="chat-box-header">
            ChatBot
            <span class="chat-box-toggle"><i class='bx bx-x-circle'></i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs">
            </div><!--chat-log -->
        </div>

        <div class="chat-input">
            <form>
                <i class='bx bx-microphone mic-speak-icon-start' id="start-voice-record"></i>
                <i class='bx bx-microphone-off mic-speak-icon-stop' id="stop-voice-record"></i>
                <i class="bi bi-volume-up  mic-speak-icon-start " id="start-speaker" onclick="TurnOnOffSpeaker()"></i>
                <i class="bi bi-volume-mute  mic-speak-icon-stop " id="off-speaker" onclick="TurnOnOffSpeaker()"></i>
                <input type="text" id="chat-input" placeholder="Send a message..." />          
                <button type="submit" class="chat-submit" id="chat-submit"><i class='bx bx-send'></i></button>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="speaker-status" value="0" />

<style type="text/css">
    .mic-speak-icon-start {
        font-size: 18px;
        color: #0277BD;
        background: transparent;
        padding: 5px 8px;
        border-radius: 50%;
        height: 32px;
        padding-top: 7px;
        margin-left: 5px;
    }

    .mic-speak-icon-start:hover {
        background: #0277BD;
        color: #fff;
        cursor: pointer;
    }

    .mic-speak-icon-stop {
        display: none;
        font-size: 18px;
        color: #0277BD;
        background: transparent;
        padding: 5px 8px;
        border-radius: 50%;
        background: #0277BD;
        color: #fff;
        cursor: pointer;
        height: 32px;
        padding-top: 7px;
        margin-left: 5px;
    }
</style>